input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #1f618d;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 50px;

}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 50px;

    resize: none;
}

#curform {
    margin-left: 500px;

}
